NODE_ENV=development
PORT=5050
CLIENT_ORIGIN=http://localhost:5173
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=aura_craft
JWT_SECRET=
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@auracraft.com
ADMIN_PASSWORD=admin123

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:support@auracraft.com
